<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Prodotti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Promozioni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fidelity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ordini</a>
        </li>
      </ul>


      <!-- menu utente  -->
      <div class="nav-item dropdown">
        <button type="button" class="btn btn-default nav-link dropdown-toggle thumbnail dduser" data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdown">
          <img class="img-circle" src="./assets/images/user.png" width="38" height="38" alt="">
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">accedi</a></li>
          <li><a class="dropdown-item" href="#">Registrati</a></li>
          <li><a class="dropdown-item" href="#">Disabilita </a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>

    </div>
  </div>
</nav>
