element.style{
  font-size:52px
}

font.semibold{
  font-weight:500;
}

h1,h2,h3,h4,h5,h6{
  margin: 0 0 10px 0;
  font-weight: normal;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color:inherit;
  text-rendering: optimizeLegibility;
}
